* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
}
section {
    height: 100vh;
    width: 100%;
}
.slider {
    height: 100%;
    width: 100%;
}
.slide {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.slide::after{
    contain: '';
    position: absolute;
}
.slider-1 {
    background-image: url('./img/img-1.jpeg');
}
.slider-2 {
    background-image: url('./img/img-2.jpeg');
}
.slider-3 {
    background-image: url('./img/img-3.jpeg');
}
.slider-4 {
    background-image: url('./img/img-4.jpeg');
}